# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Firebase - IMPORTANT
# This line prevents your Firebase config file with API keys from being committed.
/src/firebase/*

# Next.js
/.next/
/out/
/build

# Local Environment Variables
.env
.env*.local

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
